.App {
  text-align: center;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #74ebd5; 
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); 
  background: linear-gradient(to right, #ACB6E5, #74ebd5); 
}
.container{
  border: black 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
}
input {
margin-top: 100px;
border: black 3px solid; 
border-radius: 10px;
height: 30px;
width: 200px;
box-shadow: 0 0 20px #eee;
text-align: center;
text-transform: uppercase;
}
.btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   width: 200px;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }
